<?xml version="1.0"?>
<!--
Web.config file for Web-Api.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="Bolt-Authorization" value="ZCb8pPkXcZDVO0CIngLSFrBJgA/BYyUZIHT8zaj3MPg=" />
    <add key="CardPointe-Authorization" value="dGVzdGluZzp0ZXN0aW5nMTIz" />
    <add key="merchantId" value="855000000039" />
    <add key="hsn" value="20130PP25249049" />
    <add key="currency" value="USD" />
    <add key="X-CardConnect-SessionKey" value="e3072040eb049990aahgk39937cd6c311c" />
  </appSettings>
</configuration>